<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Woojin's blog</title>
    </head>
    <body>
        <div>

            <h1><a href="">What I studied this year</a></h1>
            <p> I enjoyed learning machine learning algorithms. </p>
        </div>

        <div>

            <h2><a href="">What I gonna learn next year</a></h2>
            <p> As now i studied transformer algorithm. I'll try bert this academic year. And also I'm planning to learn about cyber security field. </p>
        </div>
        <div>

            <h3><a href="">How my django works</a></h3>
            <p> First, I made html templates to make a form of blog. And show it on internet by using pythonanywhere. </p>
        </div>

    </body>
</html>